[Unit]
Description=Custom Power Profiles Manager
After=dbus.service

[Service]
Type=simple
ExecStart=/usr/bin/python3 /usr/bin/custom-power-manager
Restart=on-failure

[Install]
WantedBy=multi-user.target